.bundle
.rvmrc
db/schema.rb
db/*.sqlite3*
log/*.log
tmp/**/*
Capfile
config/deploy.rb
.sass-cache/
*.rbc
*.sassc
capybara-*.html
.rspec
.rvmrc
/.idea
/vendor/bundle
/public/system/*
/public/assets/*
/public/uploads
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project